

center{
    background-color: bisque;
    border-radius: 50px;
    width: 100%;
    position: relative;
    text-align: center;
    max-width: 500px;
    margin: auto;
}
input{
    width: 45%;
    height: 30px;
}
select{
    border-radius: 25px;
    width: 20%;
    
}
